<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>SST - BCZM</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css '%}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Setor de Suporte Tecnico - BCZM</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Início</a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="#services">Serviços</a></li>          
          <li><a href="#testimonials">Notícias</a></li>
          <li><a href="#contact">Contato</a></li>
          <li><a href="#">Helpdesk</a></li>
          
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  
  <section id="intro">
      <div class="container">
         
      </div>
    </section><!-- #intro -->
  </div>
  <main id="main">
      <section id="1">
          <div class="container">      
          <h1>
            sdafiodsaofaPPPPPPU
            sdafiodsaofaPPPPPPUADSFD
            sdafiodsaofaPPPPPPUADSFDSD
            FSA
            FDS
            DS
            FaviconsDSF
            sdafiodsaofaPPPPPPUADSFDF
            sdafiodsaofaPPPPPPUADSADS
            ASDFASDFDSFASFDDS
            sdfgsdfgsfdg
            DS
            FaviconsDSF
            aviconsDSF
            sdafiodsaofaPPPPPPUADSFDF
            sdafiodsaofaPPPPPPUADSADS
            ASDFASDFDSFASFDDS
            sdfgsdfgsfdg
            DS
            FaviconsDSF
            sdafiodsaofa
            aviconsDSF
            sdafiodsaofaPPPPPPUADSFDF
            sdafiodsaofaPPPPPPUADSADS
            ASDFASDFDSFASFDDS
            sdfgsdfgsfdg
            DS
            FaviconsDSF
            sdafiodsaofa
            sdafiodsaofaPPPPPPUADSFDF
            sdafiodsaofaPPPPPPUADSADS
            ASDFASDFDSFASFDDS
            sdfgsdfgsfdg
            DS
            FaviconsDSF
            sdafiodsaofaPPPPPPUADSFDF
            sdafiodsaofaPPPPPPUADSADS
            ASDFASDFDSFASFDDS
            sdfgsdfgsfdg
            gsdfgsdgsdfgsdf
            gdsfgsdfgfdgsd
            sfdgsgfsdg
            sdfgsdgsdfgsfdg
            sdfgsdfgsfdg
          </h1>
    
          </div>
        </section><!-- #services -->
        
  </main>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
          -->
          Best <a href="https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
